{% extends("base.html.twig") %}
{% block body %}
    <div>Homepage: {{ user.member.name|default('Anonymus') }}</div>
    <div><a href="{{ path('site_page_contact') }}">Contact</a></div>
    <div><a href="{{ path('account_user_me') }}">Me</a></div>
    <div><a href="{{ path('api_doc') }}">API</a></div>
    <div><a href="{{ path('oauth2_google_connect') }}">Login Google</a></div>
    <div><a href="{{ path('oauth2_slack_connect') }}">Login Slack</a></div>
    <div><a href="http://localhost:9111">Supervisord</a></div>
    <div><a href="http://localhost:4040">ngrok</a></div>
    <div><a href="{{ path('logout') }}">Logout</a></div>
{% endblock body %}
